/* MAIN WHITE BOX */
.edit-wrapper {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.06);
    position: relative;
}

/* WARNING TEXT */
.warning-text {
    color: #c62828;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 25px;
}

/* TITLE */
.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;   /* บังคับชิดซ้าย */
}


/* IMAGE BOX */
.image-box {
    width: 260px;
    height: 260px;
    margin: 0 auto 20px;
    position: relative;
}

.image-box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.change-btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background: #7c3aed;
    color: white;
    padding: 12px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

/* GRID of LABELS + INPUTS */
.edit-grid {
    display: grid;
    grid-template-columns: 180px auto;
    row-gap: 26px;
    column-gap: 30px;
    margin-top: 25px;
}

.label {
    font-weight: 700;
}

.value {
    display: flex;
    align-items: center;
    gap: 10px;
}

.value input,
.value select {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 6px 4px;
    width: 60%;
    font-size: 15px;
    background: none;
}

.value input:disabled {
    color: #888;
}

.icon-edit {
    cursor: pointer;
    color: #7c3aed;
}

/* SAVE BUTTON */
.save-btn {
    margin-top: 40px;
    background: linear-gradient(90deg, #7b32ff, #974bff);
    border: none;
    width: 220px;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
